* {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 2%;
}

col {
  padding: 2%;
}

img {
  padding-bottom: 2%;
}

.container-fluid {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-size: 1000%;
  z-index: 2;
}

.form-label {
  text-align: center;
}

.thumbnail_text {
  color: White;
  z-index: 5;
}

h2 {
  font size: 3vw;
  font size: 30%;

}
